{% extends 'base.html.j2' %}

{% block title %}
Our Products
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/all_items.css')}}">
{% endblock %}

{% block content %}
<div id="title">
<h1> All Products </h1>
<hr>
</div>

    {% if items %}
    <div id="card_container">
        {% for item in items %}
            <div class="card" style="width:200px;">
                <img src="{{ item.img }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name.title()}}</h5>
                    <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: {{item.price}}</li>
                    <li class="list-group-item">Description: {{item.desc}}</li>
                </ul>
            </div>
            
        {% endfor %}
        </div> 
    {% endif %}
{% endblock %}